
* {
  /*display: flex;  */
  margin: 5px;
  padding: 5px;
}
body{
  background-image: url("backg.jpg");
}

.header {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  text-align: center;
  background: #86b5f1;
  color: white;
  

}


.linkedin{
    display: inline;
    justify-content: center;
    flex-wrap: wrap;
    color: red;
}



footer{
    display: inline;
    justify-content: space-between;
    flex-wrap: wrap;
}

  
    
   
}

footer{
    display: flex;
}